html {
  font-size: 16px;
  overflow-x: auto;
  box-sizing: border-box;
  color: $charcoal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


p {
  font-size: inherit;
  color: inherit;
}

