/**
 * @utility Colors
 * @section haruharu/utilities/_colors.scss
 *
 * @index
 *  Background
 *  Color
**/

// Background

.-bg-blue { background-color: $nos-blue!important; }
.-bg-light-blue { background-color: $nos-light-blue!important; }
.-bg-dark-blue { background-color: $nos-dark-blue!important; }
.-bg-green { background-color: $nos-green!important; }
.-bg-light-green { background-color: $nos-light-green!important; }
.-bg-pink { background-color: $nos-pink!important; }
.-bg-yellow { background-color: $nos-yellow!important; }
.-bg-red { background-color: $nos-red!important; }

.-bg-charcoal { background-color: $charcoal!important; }
.-bg-midnight { background-color: $midnight!important; }
.-bg-shadow { background-color: $shadow!important; }
.-bg-ash { background-color: $ash!important; }
.-bg-steel { background-color: $steel!important; }
.-bg-smoke { background-color: $smoke!important; }
.-bg-pearl { background-color: $pearl!important; }
.-bg-bone { background-color: $bone!important; }

.-bg-white { background-color: $white!important; }
.-bg-black { background-color: $black!important; }

// Color

.-color-light-blue, .-color-light-blue p { color: $nos-light-blue!important; }
.-color-dark-blue, .-color-dark-blue p { color: $nos-dark-blue!important; }
.-color-green, .-color-green p { color: $nos-green!important; }
.-color-light-green, .-color-light-green p { color: $nos-light-green!important; }
.-color-pink, .-color-pink p { color: $nos-pink!important; }
.-color-yellow, .-color-yellow p { color: $nos-yellow!important; }
.-color-red, .-color-red p { color: $nos-red!important; }

.-color-charcoal, .-color-charcoal p { color: $charcoal!important; }
.-color-midnight, .-color-midnight p { color: $midnight!important; }
.-color-shadow, .-color-shadow p { color: $shadow!important; }
.-color-ash, .-color-ash p { color: $ash!important; }
.-color-steel, .-color-steel p { color: $steel!important; }
.-color-smoke, .-color-smoke p{ color: $smoke!important; }
.-color-pearl, .-color-pearl p { color: $pearl!important; }
.-color-bone, .-color-bone p { color: $bone!important; }

.-color-white, .-color-white p { color: $white!important; }
.-color-black, .-color-black p { color: $black!important; }
