/**
 * @utility layout
 * @section haruharu/utilities/_layout.scss
 *
 * @index
 *  Lobotomized Owl
 *  Container
 *  Align
 *  Center
 *  Clear
 *  Grid
 *  Cols
 *  Margin
 *  Padding
**/

$nos-site-width: 960px;
$grid-cell: 100% / 12;

$max-space: 80;
$offset-space: 8;
$unit-space: 'px';

// Lobotomized Owl

.o-site * + * {
  margin-top: 1rem;
}

p + p {
  margin-top: 0;
}

.compact * + * {
  margin-top: 0.75em;
}

.margins-off > *,
.l-grid > *,
.l-flex > * {
  margin-top: 0;
}

// Container

.-contain {
  padding-right: calc((100vw -  #{$nos-site-width}) / 2)!important;
  padding-left: calc((100vw - #{$nos-site-width}) / 2)!important;

  @media (max-width: #{$nos-site-width + 20px}) {
    padding-right: calc((100vw - 680px) / 2)!important;
    padding-left: calc((100vw - 680px) / 2)!important;
  }

  @media (max-width: 700px) {
    padding-right: 16px!important;
    padding-left: 16px!important;
  }
}

.-reset-to-full {
  width: 100vw!important;
  margin-left: calc((100vw - #{$nos-site-width}) / 2 * -1)!important;

  @media (max-width: 1300px) {
    margin-left: calc((100vw - 680px) / 2 * -1)!important;
  }

  @media (max-width: 700px) {
    margin-left: -16px!important;
    padding: 0;
  }
}

// Align

.-align-right-text {
  text-align: right!important;
}

.-align-left-text {
  text-align: left!important;
}

// Center

.-center-margin,
.-center-1 {
  margin: 0 auto!important;
}

.-center-text,
.-center-2 {
  text-align: center!important;
}

.-center-flex,
.-center-3 {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.-center-flex-horz,
.-center-4 {
  display: flex!important;
  justify-content: center!important;
}

.-center-flex-vert,
.-center-5 {
  display: flex!important;
  align-items: center!important;
}

// Clear

.-clear {
  clear: both;
}

.-clear-right {
  clear: right;
}

.-clear-left {
  clear: left;
}

// Grid

.l-grid {
  display: grid!important;
}

.l-flex {
  display: flex!important;
}

.-ai-c {
  align-items: center!important;
}

.-ai-s {
  align-items: start!important;
}

.-ai-e {
  align-items: end!important;
}

.-jc-c {
  justify-content: center!important;
}

.-jc-s {
  justify-content: start!important;
}

.-jc-e {
  justify-content: end!important;
}

.-jc-sa {
  justify-content: space-around!important;
}

.-jc-sb {
  justify-content: space-between!important;
}

.-pc-c {
  align-items: center!important;
  justify-content: center!important;
  place-content: center!important;
}

// Cols

@for $i from 1 through 12 {
  $width: $grid-cell * $i;
  .-col#{$i} {
    width: calc(#{$width} - 16px);
  }
}

// Margin

@mixin boxModelHelperClasses($className, $styleName, $styleName2 : null) {
 $i: 0;
 @while $i <= $max-space {
   #{$className + $i} {
     #{$styleName}: #{$i + $unit-space}!important;
     @if $styleName2 != null {
       #{$styleName2}: #{$i + $unit-space}!important;
     }
   }
   $i: $i + $offset-space;
 }
}

@include boxModelHelperClasses('.-mt-', 'margin-top');
@include boxModelHelperClasses('.-mr-', 'margin-right');
@include boxModelHelperClasses('.-mb-', 'margin-bottom');
@include boxModelHelperClasses('.-ml-', 'margin-left');
@include boxModelHelperClasses('.-my-', 'margin-top', 'margin-bottom');
@include boxModelHelperClasses('.-mx-', 'margin-left', 'margin-right');


// Padding

@mixin boxModelHelperClasses($className, $styleName, $styleName2 : null) {
  $i: 0;
  @while $i <= $max-space {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit-space}!important;
      @if $styleName2 != null {
        #{$styleName2}: #{$i + $unit-space}!important;
      }
    }
    $i: $i + $offset-space;
  }
}

@include boxModelHelperClasses('.-pt-', 'padding-top');
@include boxModelHelperClasses('.-pr-', 'padding-right');
@include boxModelHelperClasses('.-pb-', 'padding-bottom');
@include boxModelHelperClasses('.-pl-', 'padding-left');
@include boxModelHelperClasses('.-py-', 'padding-top', 'padding-bottom');
@include boxModelHelperClasses('.-px-', 'padding-left', 'padding-right');
