{% from '../atoms/_link.njk' import link %}
{% from '../atoms/_button.njk' import button %}

{% macro banner(customClasses='') %}
  <div class="banner -contain -reset-to-full">
    <h1>Realizar diagnóstico</h1>
    <div class="text">
      <p>A solução que vamos recomendar depende da dimensão da sua casa, do número de pisos, do nº de equipamentos e da utilização que faz da internet.</p>
    </div>
    <div class="background">
      <div class="circle-2">
        <div class="circle-1">
          <img src="assets/images/wifi-question.svg">
        </div>
      </div>
    </div>
    {{ button ('Começar o diagnóstico (1 min)', 'question-1.html', false, false, 'button--medium -bg-black -clear') }}
    {{ link ('Saber mais sobre o Power Wi-Fi', '#', true, 'no-bg') }}
  </div>
{% endmacro %}
