<footer class="o-site-footer -contain">

  <ul>
    <li>
      Destaques
      <ul>
        <li>Power Router</li>
        <li>Power Wi-fi</li>
        <li>UMA</li>
        <li>Pacote NOS 4</li>
        <li>NOS Play</li>
      </ul>
    </li>
    <li>
      Serviços
      <ul>
        <li>Guia TV</li>
        <li>App NOS TV</li>
        <li>NOS Wi-fi</li>
        <li>Videoclube</li>
        <li>Serviço Universal</li>
      </ul>
    </li>
    <li>
      Mais procurados
      <ul>
        <li>UMA</li>
        <li>NOS Play</li>
        <li>Pacotes segunda casa</li>
        <li>App NOS TV</li>
        <li>SportTV</li>
        <li>BTV</li>
      </ul>
    </li>
    <li>
      Ajuda
      <ul>
        <li>Loja NOS</li>
        <li>Fórum NOS</li>
        <li>Equipamentos</li>
        <li>Televisão</li>
        <li>Internet</li>
        <li>Telefone</li>
      </ul>
    </li>
    <li>
      Mais sobre a NOS
      <ul>
        <li>Prémios NOS</li>
        <li>Políticas e Certificações</li>
        <li>Recrutamento NOS</li>
        <li>Candidatura Agentes Comerciais</li>
      </ul>
    </li>
  </ul>

  NOS©2019. Todos os direitos reservados

</footer>
