<header class="o-site-header -contain -center-flex-vert">
  <h1><a href="home.html"><img src="https://cdn.nos.pt/common/img/NOS-logo-black.svg" alt="Há mais em nós – NOS" class="site-logo"></a></h1>
</header>
