<!doctype html>
<html lang="{{ pageLang if pageLang else 'pt' }}" class="{{ ['theme_green', 'theme_lightGreen', 'theme_blue', 'theme_yellow', 'theme_pink'] | random }}">
  {% include '../organisms/head.njk' %}
  {% block body %}{% endblock %}
</html>
