// COLORS
$nos-blue: #4f60d2;
$nos-light-blue: #4bdbc5;
$nos-dark-blue: #414982;
$nos-green: #6ea514;
$nos-light-green: #bad80a;
$nos-pink: #eb84cd;
$nos-yellow: #fcd200;
$nos-red: #e04232;

$wtf-purple: #6f2a7f;
$wtf-pink: #e52686;
$wtf-yellow: #fddc2e;
$wtf-green: #a3cd39;
$wtf-blue: #3b76b7;

// GRAYS
$charcoal: #1e1f27;
$midnight: #35363E;
$shadow: #5b5c64;
$ash: #74757d;
$steel: #94959d;
$smoke: #bbbcc4;
$pearl: #dddee3;
$bone: #efeff1;

$gray-8: $charcoal;
$gray-7: $midnight;
$gray-6: $shadow;
$gray-5: $ash;
$gray-4: $steel;
$gray-3: $smoke;
$gray-2: $pearl;
$gray-1: $bone;

// GENERIC
$white: #FFFFFF;
$junior: $white;
$black: #000000;
$waldo: $black;

$success: $nos-green;
$warning: $nos-yellow;
$info: $nos-blue;
$error: $nos-red;
