$nos-site-width: 960px;

.-contain {
  padding-right: calc((100vw -  #{$nos-site-width}) / 2)!important;
  padding-left: calc((100vw - #{$nos-site-width}) / 2)!important;

  @media (max-width: 1300px) {
    padding-right: calc((100vw - 680px) / 2)!important;
    padding-left: calc((100vw - 680px) / 2)!important;
  }

  @media (max-width: 700px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.-reset-to-full {
  width: 100vw!important;
  margin-left: calc((100vw - #{$nos-site-width}) / 2 * -1)!important;

  @media (max-width: 1300px) {
    margin-left: calc((100vw - 680px) / 2 * -1)!important;
  }

  @media (max-width: 700px) {
    margin-left: -16px!important;
    padding: 0;
  }
}

.-center-flex {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.-center-flex-horz {
  display: flex!important;
  justify-content: center!important;
}

.-center-flex-vert {
  display: flex!important;
  align-items: center!important;
}

.-clear {
  display: table!important;
}


.-bg-blue { background-color: $nos-blue!important; }
.-bg-light-blue { background-color: $nos-light-blue!important; }
.-bg-dark-blue { background-color: $nos-dark-blue!important; }
.-bg-green { background-color: $nos-green!important; }
.-bg-light-green { background-color: $nos-light-green!important; }
.-bg-pink { background-color: $nos-pink!important; }
.-bg-yellow { background-color: $nos-yellow!important; }
.-bg-red { background-color: $nos-red!important; }

.-bg-charcoal { background-color: $charcoal!important; }
.-bg-midnight { background-color: $midnight!important; }
.-bg-shadow { background-color: $shadow!important; }
.-bg-ash { background-color: $ash!important; }
.-bg-steel { background-color: $steel!important; }
.-bg-smoke { background-color: $smoke!important; }
.-bg-pearl { background-color: $pearl!important; }
.-bg-bone { background-color: $bone!important; }

.-bg-white { background-color: $white!important; }
.-bg-black { background-color: $black!important; }


.-color-light-blue { color: $nos-light-blue!important; }
.-color-dark-blue { color: $nos-dark-blue!important; }
.-color-green { color: $nos-green!important; }
.-color-light-green { color: $nos-light-green!important; }
.-color-pink { color: $nos-pink!important; }
.-color-yellow { color: $nos-yellow!important; }
.-color-red { color: $nos-red!important; }

.-color-charcoal { color: $charcoal!important; }
.-color-midnight { color: $midnight!important; }
.-color-shadow { color: $shadow!important; }
.-color-ash { color: $ash!important; }
.-color-steel { color: $steel!important; }
.-color-smoke { color: $smoke!important; }
.-color-pearl { color: $pearl!important; }
.-color-bone { color: $bone!important; }

.-color-white { color: $white!important; }
.-color-black { color: $black!important; }
