{% from '../../../patterns/templates/_modal.njk' import modal %}
{% from '../../../patterns/atoms/_link.njk' import link %}
{% from '../../../patterns/atoms/_loader.njk' import loader %}
{% from '../../../patterns/molecules/_check_block.njk' import check_block %}
{% from '../../../patterns/molecules/_checkbox.njk' import checkbox %}
{% from '../../../patterns/organisms/_banner_gallery.njk' import banner_gallery %}

{% extends '../../../patterns/templates/_page.njk' %}

{% block cssPlugins %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
  <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.helper.ie8.js"></script><![endif]-->
{% endblock %}
{% block cssMain %}
  <link rel="stylesheet" href="../../../dist/main.min.css">
  <link rel="stylesheet" href="assets/css/banner_gallery.webpart.css">
  <link rel="stylesheet" href="assets/css/modal.webpart.css">
{% endblock %}
{% block cssWebPart %}{% endblock %}

{% block jsPlugins %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
{% endblock %}


{% block main %}

  <div class="-reset-to-full">

    <h1 class="-center-text" style="margin: 16px 0;">{{ project.title }} — {{ project.subtitle }}</h1>

    {{ banner_gallery (slides = slides) }}

    <br><br>

    {{ banner_gallery (slides = slides4, size = 'small') }}

    {{ loader () }}

    {{ link (text = 'Saber mais sobre o Power Wi-Fi', href="#") }}

    {{ check_block (type = 'checkbox', value = 'test', name = 'question-2', target = target) }}

    {{ checkbox ( text = 'Concordo com os termos e condições', class = 'l-flex', name = 'consent', id = 'consent') }}

    {{ checkbox ( text = 'Concordo com os termos e condições', class = 'l-flex', name = 'consent', id = 'consent2', icon = 'right') }}

  </div>

  {# {{ modal (modal = modal_cancel) }} #}

{% endblock %}
