{% from '../../../patterns/organisms/_banner_gallery.njk' import banner_gallery %}
{% from '../../../patterns/atoms/_link.njk' import link %}

{% extends '../../../patterns/templates/_page.njk' %}

{% block cssPlugins %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
  <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.helper.ie8.js"></script><![endif]-->
{% endblock %}
{% block cssMain %}
  <link rel="stylesheet" href="../../../dist/main.min.css">
  <link rel="stylesheet" href="assets/css/banner_gallery.webpart.css">
{% endblock %}

{% block jsPlugins %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>
{% endblock %}


{% block main %}

  <div class="-reset-to-full">

    <h1 class="-center-text" style="margin: 16px 0;">{{ project.title }} — {{ project.subtitle }}</h1>

    {{ banner_gallery (slides = slides) }}

    <div class="a-loader"></div>

    {{ link (text = 'Saber mais sobre o Power Wi-Fi', href="#") }}

  </div>

{% endblock %}
