{% extends '../organisms/html.njk' %}

{% block body %}
  <body class="index">

    <div class="main">
      {% block main %}
        <h1>This is a post!</h1>
      {% endblock %}
    </div>

  </body>
{% endblock %}
