<!doctype html>
<html lang="{{ project.lang if project.lang else 'pt' }}" class="{{ ['theme_green', 'theme_lightGreen', 'theme_blue', 'theme_yellow', 'theme_pink'] | random }}{{ ' ' + project.htmlclasses if project.htmlclasses }}">
  <head>
    <meta charset="{{ project.charset if project.charset else 'utf-8' }">
    <meta name="viewport" content="{{ project.viewport if project.viewport else 'width=device-width, initial-scale=1' }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% project.title if project.title else pageTitle %}{% ' -' + project.subtitle if project.subtitle %} </title>

    <link rel="shortcut icon" href="//cdn.nos.pt/common/favicon_144.png">

    {% block fontIcon %}
      <link rel="stylesheet" href="https://cdn.nos.pt/common/fontsv6/fontcustom.css">
    {% endif %}

    {% block cssPlugins %}{% endblock %}

    {% block cssMain %}
      <link rel="stylesheet" href="https://www.nos.pt/_layouts/15/Armstrong/css/print.min.css" media="print" type="text/css">
      <link rel="stylesheet" href="https://www.nos.pt/_layouts/15/Armstrong/css/screen.min.css?v=15" media="screen,projection" type="text/css">
      <link rel="stylesheet" href="assets/css/main.css">
    {% endblock %}

  </head>
  <body{{ ' class="' + project.bodyclasses + '"' if project.bodyclasses}}>

    {% block siteHeader %}
      {% include '../organisms/_header.njk' %}
    {% endblock %}

    <div class="o-site-main -contain">
      {% block main %}{% endblock %}
    </div>

    {% block siteFooter %}
      {% include '../organisms/_footer.njk' %}
    {% endblock %}

    {% block jsPlugins %}{% endblock %}
    {% block jsMain %}
      <script src="assets/js/main.js"></script>
    {% endblock %}

  </body>
</html>
