<!doctype html>
<html lang="{{ project.lang if project.lang else 'pt' }}" class="{{ ['theme_green', 'theme_lightGreen', 'theme_blue', 'theme_yellow', 'theme_pink'] | random }}{{ ' ' + project.htmlclasses if project.htmlclasses }}"{{ ' style="' + project.htmlstyles + '"' if project.htmlstyles }}>
  <head>
    <meta charset="{{ project.charset if project.charset else 'utf-8' }}">
    <meta name="viewport" content="{{ project.viewport if project.viewport else 'width=device-width, initial-scale=1' }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ project.title if project.title else pageTitle }}{{ ' – ' + project.subtitle if project.subtitle }}</title>

    <link rel="shortcut icon" href="//cdn.nos.pt/common/favicon_144.png">

    {% block cssPlugins %}{% endblock %}

    {% block cssLegacy %}
      <link rel="stylesheet" href="https://galeria.nos.pt/Style%20Library//NOSAssets/css/Common/print.min.css?v=259" media="print" type="text/css">
      <link rel="stylesheet" href="https://galeria.nos.pt/Style%20Library//NOSAssets/css/Common/screen.min.css?v=259" media="screen,projection" type="text/css">
    {% endblock %}

    {% block fontIcon %}
      <link rel="stylesheet" href="https://cdn.nos.pt/common/fontsv6/fontcustom.css">
    {% endblock %}

    {% block cssMain %}
      <link rel="stylesheet" href="assets/css/global.min.css">
    {% endblock %}

    {% block cssWebPart %}
      {% if project.title %}
      <link rel="stylesheet" href="assets/css/{{ project.title.replace(r/-|\s/g, '') | lower }}.webpart.css">
      {% endif %}
    {% endblock %}


  </head>
  <body{{ ' class="' + project.bodyclasses + '"' if project.bodyclasses }}{{ ' style="' + project.bodystyles + '"' if project.bodystyles }}>

    <div class="o-site">

      {% block siteHeader %}
        {% include '../organisms/_header.njk' %}
      {% endblock %}

      <div class="o-site-main{{ ' ' + project.mainClasses if project.mainClasses }} -contain"{{ ' style="' + project.mainstyles + '"' if project.mainstyles }}>
        {% block main %}{% endblock %}
      </div>

      {% block siteFooter %}
        {% include '../organisms/_footer.njk' %}
      {% endblock %}

      {% block jsPlugins %}{% endblock %}
      {% block jsMain %}
        <script src="assets/js/main.js"></script>
      {% endblock %}

    </div>

  </body>
</html>
