/**
 * @molecules Checkbox
 * @section haruharu/styles/molecules/_checkbox.scss
**/

.m-checkbox {
  height: 24px;
  line-height: 24px;

  .a-input {
    display: none;

    &:checked + .a-label {

      &::before,
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M84.222,620.444l8-7.692-1.244-1.2-6.756,6.495-3.2-3.077-1.244,1.2ZM80,608H92a2,2,0,0,1,2,2v12a2,2,0,0,1-2,2H80a2,2,0,0,1-2-2V610A2,2,0,0,1,80,608Z' fill='none' clip-rule='evenodd'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Crect width='22' height='22' transform='translate(75 605)' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Crect width='16' height='16' transform='translate(78 608)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(-78 -608)'%3E%3Cg clip-path='url(%23a)'%3E%3Cg clip-path='url(%23b)'%3E%3Cg clip-path='url(%23c)'%3E%3Cg clip-path='url(%23c)'%3E%3Cg clip-path='url(%23c)'%3E%3Crect width='26' height='26' transform='translate(73 603)' fill='%236ea514'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }

  .a-label {
    font-size: 12px;
    color: #777777;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M79.75,555.75v12.5h12.5v-12.5ZM80,554H92a2,2,0,0,1,2,2v12a2,2,0,0,1-2,2H80a2,2,0,0,1-2-2V556A2,2,0,0,1,80,554Z' fill='none' clip-rule='evenodd'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Crect width='16' height='16' transform='translate(78 554)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(-78 -554)'%3E%3Cg clip-path='url(%23a)'%3E%3Cg clip-path='url(%23b)'%3E%3Cg clip-path='url(%23b)'%3E%3Cg clip-path='url(%23b)'%3E%3Crect width='26' height='26' transform='translate(73 549)' fill='%23777'/%3E%3C/g%3E%3Cg clip-path='url(%23b)'%3E%3Cg clip-path='url(%23b)'%3E%3Crect width='26' height='26' transform='translate(73 549)' fill='%23777'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &.-icon-left {
    label {
      padding-left: 24px;

      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }

  &.-icon-right {
    label {
      padding-right: 24px;

      &::before {
        content: '';
        position: absolute;
        top: 4px;
        right: 0;
      }
    }
  }
}
