/**
 * @molecules check Block
 * @section haruharu/styles/molecules/_radio_block.scss
**/

.m-check-block {
  margin-bottom: 16px;

  > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 24px;
    background-color: #ffffff;
    border: 2px solid transparent;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.13);
    cursor: pointer;

    > span {
      font-size: 16px;
      font-weight: bold;
      color: $midnight;
    }

    .subtitle {
      display: block;
      font-size: 12px;
      font-weight: normal;
      color: $midnight;
      line-height: 2;
    }

    i {
      display: none;
      margin: 0;
      font-size: 24px;
    }
  }

  .icon2-check {
    &::before {
      content: "\fdf5";
    }
  }

  > input[type="radio"],
  > input[type="checkbox"] {
    display: none;

    &:checked + label {
      border: 2px solid $nos-green;
      box-shadow: none;
      color: $nos-green;

      > span {
        color: $nos-green;
      }

      .subtitle {
        color: $nos-green;
      }

      i {
        display: block;
      }
    }
  }
}
