{% macro radio_block (value = '', subtitle = '', name = '', target = '') %}
  <div class="m-radio-block">
    <input type="radio" name="{{ name }}" id="{{ value | urlencode }}" value="{{ value }}" data-target="{{ target }}">
    <label for="{{ value | urlencode }}">
      <span>
        {{ value }}
        {% if subtitle %}
          <span class="subtitle">{{ subtitle }}</span>
        {% endif %}
      </span>
      <i class="icon2-check"></i></label>
  </div>
{% endmacro %}
