{% macro label (text='', inputId='', customClasses='') %}
  <label{{ ' for="' + inputId + '"' if inputId }} class="a-label{{ ' ' + customClasses if customClasses }}">{{ text }}</label>
{% endmacro %}
