.a-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: $charcoal;
  text-decoration: none;
  line-height: 1.4;
  clear: both;
  position: relative;

  @media (max-width: 700px) {
    text-align: center;
  }
}
